{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ character.profile_image.url }}" class="img-fluid rounded-start" alt="{{ character.name }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2>{{ character.name }}</h2>
        <h4 class="text-danger-50 text-danger">Are you sure to Delete?</h4>
        
        <form action="{% url 'character_delete' character.id %}" method="POST">
            {% csrf_token %}
        <button href="{% url 'character_delete' character.id %}" class="btn btn-danger btn-lg rounded-1">
            Yes, Delete
          </button>
          <a href="{% url 'character_list' %}" class="btn btn-light rounded-1">
            Cancel
          </a>
        </form>
        <p class="mt-2">{{ character.position }}</p>
        <p class="mt-2">{{ character.department }}</p>
        <p class="mt-2">{{ character.location }}</p>
        <p class="mt-2">{{ character.hire_date}}</p>
        <p class="card-text">
          <small class="text-muted">{{ character.created_at }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}